@tailwind base;
@tailwind components;
@tailwind utilities;
/* Bounce Animation */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}

/* Image Transformation */
.move-image {
  transition: transform 0.5s ease-in-out;
}

.bounce {
  animation: bounce 1s ease infinite;
}

.transform {
  transform: scale(1.1);
}

@keyframes moveBackground {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}

.animate-background {
  animation: moveBackground 60s linear infinite;
}